div.text {
  margin-left: 200px;
  margin-right: 200px;
}

body {
    padding-top: 50px; /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
}

.page-header {
  text-align: center;
}
p.name {
  text-align: center;
  font: 2px;
}

.footer-blurb {
    padding: 30px 0;
	text-align: center;
    background-color: lightskyblue;
}

.footer-blurb h3 {
    color: midnightblue;
    }

.footer-blurb-item {
    padding: 30px 0;
    }

.copyright {
	background-color: #fff;
	text-align: center;
	padding: 30px 0;
}

#date {
  font-size: 30px;
}
